<section class="credito">
<div class="creditos-h1">
    <h1>Creditos</h1>
</div>
</section>
<main class="main-1">

    <div class="Fotos">
            <div class="foto-item">
                <img src="https://dcdn.mitiendanube.com/stores/004/706/021/products/dav-f8a68c182f9a51a8dd17159671409335-1024-1024.jpg" alt="Crédito 1">
                <p>Eitan Fridman</p>
            </div>
            <div class="foto-item">
                <img src="https://www.clarin.com/img/2024/07/31/UQVo2vePn_600x600__1.jpg" alt="Crédito 2">
                <p>Felipe Otero</p>
            </div>
            <div class="foto-item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7AT23UFNvSlg7pYjcVcs4NPQdj4zhtB1WRA&s" alt="Crédito 3">
                <p>Santiago Colombet</p>
            </div>
        </div>
 </main>
