<section class="credito">
<div class="creditos-h1">
    <h1>Creditos</h1>
</div>
</section>
<main class="main-1">

    <div class="Fotos">
            <div class="foto-item">
                <img src="https://placehold.co/300x200" alt="Crédito 1">
                <p>Dekel Usach</p>
            </div>
            <div class="foto-item">
                <img src="https://placehold.co/300x200" alt="Crédito 2">
                <p>Uriel Berman</p>
            </div>
            <div class="foto-item">
                <img src="https://placehold.co/300x200" alt="Crédito 3">
                <p>Santiago Colombet</p>
            </div>
        </div>
 </main>
