<div class="form-container">
    <form action='@Url.Action("EliminarDeportista","Home")' method="post" class="form-wrapper">
        
        <div class="form-group">
            <label for="idCandidato">Candidato:</label> 
            <input type="text" class="form-control" id="idCandidato" name="idCandidato" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>